body{
    font-family: Arial, Helvetica, sans-serif;
}



/* header{
    border: 1px solid black;
}



.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-item{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

} */

header{
    height: 100px;
}


.container{
    display: flex;

}

img{
    
    margin-left: 10px;
    margin: 10px;
}



h2{
    text-align: center;
}


.sidebar{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30%;
}

.side-links{
   text-decoration: none;
    cursor: pointer;
    padding-left: 5px;
    padding: 5px;
    color: black;
}

a:hover{
    font-size: larger;
}



.sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
